<div class="card">
    <div class="card-body">
        <h2>About</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, blanditiis. Perspiciatis expedita ipsam optio
            adipisci error quia voluptatem, dignissimos reiciendis in iusto aperiam minima harum cupiditate tenetur
            incidunt autem neque dolor possimus magnam maxime sequi numquam asperiores. Doloribus cumque corrupti
            numquam, eum eligendi harum laboriosam quam vero autem porro nulla.</p>
    </div>
</div>