<div class="jumbotron mt-4">
    <h1 class="display-4">Note App</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium hic cumque voluptatem iusto repellat
        eligendi omnis distinctio esse blanditiis, maiores quidem, delectus in vero tenetur sunt ad, est ipsa ea?</p>
    <a href="http://google.com" class="btn btn-primary btn-lg">GIT</a>
</div>