{{#if_eq parameter 1 }}
    <span class="badge badge-pill badge-danger">Maximum</span>
{{/if_eq }}

{{#if_eq parameter 2 }}
    <span class="badge badge-pill badge-warning">Medium</span>
{{/if_eq }}

{{#if_eq parameter 3 }}
    <span class="badge badge-pill badge-info">Minimum</span>
{{/if_eq }}